* {
    box-sizing : border-box ;
}

body {
    min-height : 100vh ;
    background : lightgrey ;
}


.App-header {
    background-color: #222;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#timer, .status {
    text-align : center ;
    margin : 15px 0 15px 0 ;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 72px;
  font-weight: bold;
  line-height: 102px;
  height: 102px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: 102px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content : center ;
}

.game-info {
  margin-left: 20px;
}

.hidden-square {
    background : hsl(0, 0%, 30%) ;
}